# Managed by Ansible (tenx.ai.vllm).
HF_HOME={{ vllm_hf_home }}
{% if vllm_pytorch_cuda_alloc_conf | length > 0 %}
PYTORCH_CUDA_ALLOC_CONF={{ vllm_pytorch_cuda_alloc_conf }}
{% endif %}
{% if vllm_hf_token | length > 0 %}
HF_TOKEN={{ vllm_hf_token }}
{% endif %}
{% if vllm_api_key | length > 0 %}
VLLM_API_KEY={{ vllm_api_key }}
{% endif %}
